body {
    color: black;
    background:rgb(252, 203, 252);
    margin: 50px;
}

header{
border: solid 6px rgb(240, 223, 64);
padding : 15px;
font-size: 20px;

}

section { 
     background : rgb(240, 222, 64);
     padding-top : 15px;
     padding-bottom : 45px;
     border-bottom : solid 2px border; 

}

